.serials-component {
	border: 5px solid #ff0000;

	.flex-demo {
		display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
		.flex-box {
			border: 2px solid #00ee10;
		}
	}
}
