<div class="home-page">
      <div class="products-container my-5">
        <div class="row">
          @for(product of products; track product.id){
            <div class="col-lg-4 mb-5">
              <div class="card">
                <img [src]="product.image" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This card has supporting text below as a natural lead-in to
                    additional content.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          }
         
        </div>
      </div>
    
  </div>